<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.advance.mgr.mapper.StoreInfoMapper">

    <select id="countStoreInfo" resultType="long">
        select count(1) from t_store_info;
    </select>


    <insert id="insertTest">
        insert into t_store_info(store_no, store_name, store_type) values (#{store_no},#{store_name},1)
    </insert>

</mapper>