<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.advance.mgr.mapper.sys.SysRoleMapper">

	<!--<resultMap id="BaseResultMap" type="com.mpys.scm.dto.user.SysRoleReqDto">-->
		<!--<id column="id" jdbcType="BIGINT" property="id" />-->
		<!--<id column="role_name" jdbcType="VARCHAR" property="roleName" />-->
		<!--<id column="remark" jdbcType="VARCHAR" property="remark" />-->
		<!--<id column="dept_id" jdbcType="BIGINT" property="deptId" />-->
		<!--<id column="status" jdbcType="INTEGER" property="status" />-->
		<!--<id column="create_time" jdbcType="VARCHAR" property="createTime" />-->
	<!--</resultMap>-->

	<select id="getMenuByRoleId" resultType="java.lang.Integer">
		select distinct(t.menu_id) from t_sys_role_menu t
		left join t_sys_menu t1 on t.menu_id = t1.id
		where t.role_id = #{roleId}
		order by t.menu_id
	</select>

	<insert id="insertRoleIdAndMenu">
		insert into t_sys_role_menu (`role_id`,`menu_id`) values
		<foreach collection="menuList" item="menuId" separator=",">
			(#{roleId,jdbcType=BIGINT},#{menuId,jdbcType=BIGINT})
		</foreach>
	</insert>

</mapper>